<h1> Marvel and DC Heroes </h1>

<div class ="card-columns">
    <div class="card" *ngFor="let hero of heroes" >
        <img [src]="hero.img" class="card-img-top" [alt]="hero.name">
        <div class="card-body">
          <h5 class="card-title">{{hero.name}}</h5>
          <p class="card-text">{{hero.bio}}</p>
          <button class ="btn btn-outline-primary btn-block">More</button>
        </div>
        <div class="card-footer">
          <small class="text-muted"> Primera aparición: {{hero.appeared}}</small>
        </div>
      </div>


</div>